/* Current User */
.current-user {
  border-left: 1px solid #00000014;
  padding: 10px 16px;
  background: #eceff1;
  display: flex;
  height: 59px;
  width: 100%;
  align-items: center;
  position: relative;
  z-index: 1000;
}

.current-user:after {
  background-color: rgba(255, 255, 255, 0.14);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.current-user:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  bottom: -1px;
}

.user-avatar {
  padding: 0 15px 0 0;
  margin-top: -1px;
  flex: none;
}

.user-avatar .d1 {
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.user-avatar .user-avatar-img {
  display: block;
  position: relative;
  transition: opacity 0.15s ease-out;
  width: 100%;
  height: 100%;
  z-index: 100;
  border-radius: 50%;
  overflow: hidden;
}

.current-user .display-name {
  flex-grow: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display-name .d1 {
  text-align: left;
  margin-top: -1px;
  display: flex;
  line-height: normal;
  align-items: flex-start;
}

.display-name .d2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  display: flex;
  flex-grow: 1;
}

.display-name .s3 {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.current-user .user-actions {
  flex: none;
  margin-left: 20px;
}

.user-actions .d1 {
  color: #919191;
  display: flex;
  align-items: center;
}

.user-actions .d1 .d2 {
  margin-left: 10px;
  border-radius: 50%;
  flex: none;
  font-size: 24px;
  line-height: 24px;
  height: 24px;
  position: relative;
  transition: background-color 0.3s ease;
}

.user-actions .d3 {
  right: 4px;
  text-align: left;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  padding: 9px 0;
  top: 44px;
  max-width: 340px;
  overflow: hidden;
  position: absolute;
  z-index: 10000;
}

.user-actions .d3 .u1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-actions .d3 .u1 li div {
  padding-left: 24px;
  padding-right: 58px;
  cursor: pointer;
  padding-top: 13px;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  color: #4a4a4a;
  display: block;
  font-size: 14.5px;
  height: 40px;
  line-height: 14.5px;
}

.user-actions .d3 .u1 li {
  position: relative;
}
