/* Chat Window */
.chat-window {
  background-color: #cfd8dc;
  display: flex;
  flex-direction: column;
  height: 100%;
  transform-origin: left top;
}

.chat-background {
  background-repeat: repeat;
  background-image: url(../assets/chat-bg.jpg);

  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.06;
}

.btn-flat,
.input-flat {
  border-radius: 0;
}

.btn svg {
  vertical-align: baseline;
}

.error {
  font-size: 0.85rem;
  color: red;
  margin-bottom: 0.5rem;
}

.dax1c {
  flex: 0 0 auto;
  order: 2;
}

/* Chat Form */

html .chat-form {
  padding: 0;
  background-color: #eceff1;
}

.chat-form {
  min-height: 62px;
  order: 3;
  position: relative;
  flex: none;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

html .chat-form-wrap {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}

html .chat-form-wrap {
  padding: 5px 10px;
  background: #eceff1;
}

.chat-form-wrap {
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  min-height: 62px;
  position: relative;
  z-index: 2;
}

.chat-form form {
  width: 100%;
}

html .input-wrap {
  background-color: #fff;
  border-radius: 21px;
  border: 1px solid #fff;
  padding: 9px 12px 11px;
  margin: 5px 10px;
}

.input-wrap {
  box-sizing: border-box;
  flex: 1 1 auto;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  min-height: 20px;
  min-width: 0;
  outline: none;
  width: inherit;
  will-change: width;
}

html .chat-input {
  padding-right: 2px;
}

html .input-wrap .chat-input {
  padding: 0;
}

.input-wrap .chat-input {
  color: #4a4a4a;
  font-size: 15px;
  font-weight: 400;
  max-height: 100px;
  min-height: 20px;
  outline: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
  z-index: 1;
}

.chat-input {
  line-height: 20px;
  width: 100%;
  user-select: text;
  white-space: pre;
  word-break: break-word;
  outline: none;
  border: none;
}
